<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Users  - Shopme Admin')" />
<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>
    <div>
        <h2>Manage Users</h2>
        <a th:href="@{/ShopmeAdmin/users/new}">Create new user</a>
        &nbsp;|&nbsp;
        <a th:href="@{/ShopmeAdmin/users/export/csv}">Export to CSV</a>
        &nbsp;|&nbsp;
        <a th:href="@{/ShopmeAdmin/users/export/excel}">Export to Excel</a>
        &nbsp;|&nbsp;
        <a th:href="@{/ShopmeAdmin/users/export/pdf}">Export to PDF</a>
    </div>

    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div th:replace="~{fragments :: search_form('/ShopmeAdmin/users/page/1')}"></div>

    <div>
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
                <tr>
                    <th th:replace="fragments :: column_link('id', 'User ID')"></th>
                    <th>Photos</th>
                    <th th:replace="fragments :: column_link('email', 'Email')"></th>
                    <th th:replace="fragments :: column_link('firstName', 'First Name')"></th>
                    <th th:replace="fragments :: column_link('lastName', 'Last Name')"></th>
                    <th>Roles</th>
                    <th th:replace="fragments :: column_link('enabled', 'Enabled')"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${listUsers}">
                    <td>[[${user.id}]]</td>
                    <td>
                        <span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-silver"></span>
                        <img th:if="${user.photos != null}" th:src="@{${user.getPhotosImagePath}}"/>
                    </td>
                    <td>[[${user.email}]]</td>
                    <td>[[${user.firstName}]]</td>
                    <td>[[${user.lastName}]]</td>
                    <td>[[${user.roles}]]</td>
                    <td>
                        <a th:if="${user.enabled == true}" class="fas fa-check-circle fa-2x icon-green"
                           th:href="@{'/ShopmeAdmin/users/' + ${user.id} + '/enabled/false'}"
                           title="Disable this user"></a>

                        <a th:if="${user.enabled == false}" class="fas fa-circle fa-2x icon-dark"
                           th:href="@{'/ShopmeAdmin/users/' + ${user.id} + '/enabled/true'}"
                           title="enable this user"></a>
                    </td>
                    <td>
                        <a class="fas fa-edit fa-2x icon-green" th:href="@{'/ShopmeAdmin/users/edit/' + ${user.id}}"
                           title="edit this user"></a>
                         &nbsp;
                        <a class="fas fa-trash fa-2x icon-dark link-delete"
                           th:href="@{'/ShopmeAdmin/users/delete/' + ${user.id}}"
                           th:entityId="${user.id}"
                           title="Delete this user"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>



    <div th:replace="modal_fragments :: confirm_modal"></div>
    <div th:replace="fragments :: pagination('users', 'users')"></div>

    <div th:replace="fragments :: footer"></div>
</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleURL = "[[@{/ShopmeAdmin/users}]]";

    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'user');
        });
    });

    function clearFilter() {
        window.location = "[[@{/ShopmeAdmin/users}]]"
    }
</script>
</body>
</html>